body {
    font-family: 'Roboto', sans-serif;
}

.gelsnav {
    padding-bottom: 15px;
    background-color: #F7E4EC!important;
  
}



.nav-item {
  display:flex;
  padding-right:30px;
  padding-left:30px;
}

.jumbotron-fluid {
    background-size:cover;
    background-color: #F7E4EC;
    text-align: center;
    margin:0px;
    display:flex;
}

.main {
    display:flex;
}


@media only screen and (max-width:576px) {
    .mainrow {
        display:flex;
        flex-direction: column;
        background-size:cover;
    }
}

.leftmain {
    display: flex;
    justify-content: flex-end;
}

.hamburger {
    color: #707070; 
}

.maingel {
    max-width: 70%;
    max-height: 70%;

}

.mainrow {
    display:flex;
    align-items: center;
}

.rightmain {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top:30px;
 
}

.name{ 
    font-family: 'Bebas Neue', cursive;
    font-size:55px;
    color:#373A3C;

}

.title {
    font-size:25px;
    margin:5px;

}
.social {
    padding: 17px;
    align-content: center;
    margin:5px;

}

.linkedinlogo {
    max-width:110%;
    max-height:110%;
}

.linkedinlogo:hover {
    max-width:120%;
    max-height:120%;
}



.facebooklogo {
    max-width:100%;
    max-height:100%;
    
}

.facebooklogo:hover {
    max-width:110%;
    max-height:110%;
}


.instagramlogo {
    max-width:100%;
    max-height:100%; 
}

.instagramlogo:hover {
    max-width:110%;
    max-height:110%;
    }


.projectcards {
     margin:15px;
    }


.projects {
        display:flex;
        justify-content: center;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

.projectbutton {
        background-color:rgb(209, 139, 149) !important;
        border-color:rgba(250, 111, 181, 0.527) !important;
    }

.projectbutton:hover {
        background-color:rgba(255, 25, 94, 0.671) !important;
        border-color:rgba(255, 0, 85, 0.527) !important;
        border-width: 2px;
        font-weight: 100;
    }

.flowergel {
    max-width: 25%;
}

.about {

   text-align: center;
    padding:20px;
    background-color:rgba(255, 146, 131, 0.527);


}

.whoiam {
    font-family: 'Bebas Neue', cursive;
    font-size:40px;
    color:#373A3C;
}

.contactquote {
    display:flex;
    align-items: center;
}

.contact {
    padding:30px;
}

.contact_form {
    border-style: solid;
    border-width:1px;
    border-color:black;
    width:500px;
    padding:10px;
}

.form-row {
    padding:7px;
}

.footer
{
    background-color:#F7E4EC !important;
}

